/************************************************************************
*
* colors.scss 
* ----------------------------------------------------------------------
* Color pallete for the template.
*
* Author: Humza Khan
* Date: Mar 28, 2017.
*
*************************************************************************/

$color-primary-1: #65A6CC;
$color-primary-2: #398DBD;
$color-primary-3: #2380B6;
$color-primary-4: #0E74AF;
$color-primary-5: #0D6AA0;
$color-primary-6: #0B5580;

// Danger
$color-danger-1: #FF9C9C;
$color-danger-2: #FF7474;
$color-danger-3: #FF4D4D;
$color-danger-4: #FF3939;
$color-danger-5: #FF2626;
$color-danger-6: #D12020;

// Success
$color-success-1: #8EBE86;
$color-success-2: #69A95E;
$color-success-3: #569E4A;
$color-success-4: #3C7D30;
$color-success-5: #2D7D1F;
$color-success-6: #1E5315;

// Warning
$color-warning-1: #FAB68E;
$color-warning-2: #F99E69;
$color-warning-3: #F89256;
$color-warning-4: #F78643;
$color-warning-5: #F77A31;
$color-warning-6: #E16F2D;

// Info
$color-info-1: #89AEB3;
$color-info-2: #67979E;
$color-info-3: #468189;
$color-info-4: #40767D;
$color-info-5: #3A6A71;
$color-info-6: #2D5358;