/************************************************************************
*
* content.scss 
* ----------------------------------------------------------------------
* Content's basic layout of the web app
*
* Author: Humza Khan
* Date: Mar 28, 2017.
*
*************************************************************************/

html, body {
    width: 100%;
    height: 100%;
}

.page-container {
    position: relative;

    @media (min-width: $screen-size-md) {
        display: table;
        table-layout: fixed;
        height: 100%;
    }
}

@-moz-document url-prefix() {
    .page-container {
        height: 1px;
    }
}

.page-content {
    @media (min-width: $screen-size-md) {
        display: table-row;
    }
}

.content {
    padding: $line-height-lg $line-height-lg;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .page-header + & {
        padding-top: 0;
    }
}

.content-wrapper {
    padding-bottom: $line-height-lg;
    width: 100%;

    @media (min-width: $screen-size-md) {
        display: table-cell;
        vertical-align: top;
    }
}

.content-group {
  margin-bottom: 20px !important;
}

.content-group-sm {
  margin-bottom: 15px !important;
}

.content-group-lg {
  margin-bottom: 30px !important;
}